body {
  font-family: 'circular std', sans-serif;
  height: 100vh;
  overflow: hidden;
  /* Laptop */
  /* Tablet */
  /* Mobile */ }
  body a {
    text-decoration: none; }
  body header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 0;
    z-index: 999; }
    body header .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD
      color: #fff; }
      body header .container .header-logo {
=======
      color: #fff; }
	   body header .container .header-logo {
>>>>>>> fdca2ca12c745d2e5ade66f6c49f6d99cba2644a
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        color: #fff; }
      body header .container .toggle .ion-md-menu {
        font-size: 2rem; }
    body header .hdr-navList {
      display: none; }
  body .banner {
    position: relative;
    overflow: hidden;
    background: url(bg-1.jpg);
    background-size: cover;
    background-position: center; }
    body .banner .slide {
      background: url(joker.png);
      background-size: cover;
      width: 250px;
      height: 150px;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      -webkit-animation: identifier 25s linear infinite;
      animation: identifier 25s linear infinite; }

<<<<<<< HEAD
=======
      color: #fff; }
>>>>>>> d3c43728f3200a74178c1e373133a7b46a758d57
=======
@-webkit-keyframes identifier {
  0%, 100% {
    background-position: top; }
  45%, 55% {
    background-position: bottom; } }
>>>>>>> fdca2ca12c745d2e5ade66f6c49f6d99cba2644a
 body .banner .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100vh;
      max-width: 1200px;
      margin: 0 auto; }
      body .banner .container .content {
        max-width: 650px;
        position: relative; }
        body .banner .container .content h2 {
          font-size: 2.75rem;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #fff;
          margin-bottom: 1em; }
          body .banner .container .content h2 span {
            font-weight: bold; }
        body .banner .container .content p {
          color: #fff;
          line-height: 1.75;
          margin-bottom: 2em; }
        body .banner .container .content .play {
          margin-bottom: 1em;
          color: #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          margin-bottom: 2em; }
         >>>>>>>>>>>>>>>>>