body {
  font-family: 'circular std', sans-serif;
  height: 100vh;
  overflow: hidden;
  /* Laptop */
  /* Tablet */
  /* Mobile */ }
  body a {
    text-decoration: none; }
  body header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 0;
    z-index: 999; }
    body header .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      color: #fff; }
      body header .container .header-logo {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
        color: #fff; }
      body header .container .toggle .ion-md-menu {
        font-size: 2rem; }
    body header .hdr-navList {
      display: none; }
  body .banner {
    position: relative;
    overflow: hidden;
    background: url(bg-1.jpg);
    background-size: cover;
    background-position: center; }
    body .banner .slide {
      background: url(joker.png);
      background-size: cover;
      width: 250px;
      height: 150px;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      -webkit-animation: identifier 25s linear infinite;
      animation: identifier 25s linear infinite; }

